.section-context-two{
    background-color: #c4ccfd;
    background-image: linear-gradient(180deg, #c4ccfd 0%, #f6f6ff 100%);
    height: 100em;  
    z-index: -4;
    position: relative;
    padding: 3.5em 2.5em 0.5em; 
}  
