.section-context{
    background-color: rgb(255, 251, 0);
    /* width: 100%; */
    height: 70em;  
    z-index: -2;
    position: relative;
    padding: 3.5em 2.5em 0.5em;    
    margin-bottom: -615px;
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 51.66%, .67% 51.65%, 3.33% 51.58%, 5.00% 51.43%, 6.67% 51.22%, 8.33% 50.96%, 10.00% 50.65%, 11.67% 50.32%, 13.33% 49.97%, 15.00% 49.63%, 16.67% 49.30%, 18.33% 49.00%, 20.00% 48.74%, 21.67% 48.54%, 23.33% 48.41%, 25.00% 48.34%, 26.67% 48.35%, 28.33% 48.42%, 30.00% 48.57%, 31.67% 48.78%, 33.33% 49.04%, 35.00% 49.35%, 36.67% 49.68%, 38.33% 50.03%, 40.00% 50.37%, 41.67% 50.70%, 43.33% 51.00%, 45.00% 51.26%, 46.67% 51.46%, 48.33% 51.59%, 50.00% 51.66%, 51.67% 51.65%, 53.33% 51.58%, 55.00% 51.43%, 56.67% 51.22%, 58.33% 50.96%, 60.00% 50.65%, 61.67% 50.32%, 63.33% 49.97%, 65.00% 49.63%, 66.67% 49.30%, 68.33% 49.00%, 70.00% 48.74%, 71.67% 48.54%, 73.33% 48.41%, 75.00% 48.34%, 76.67% 48.35%, 78.33% 48.42%, 80.00% 48.57%, 81.67% 48.78%, 83.33% 49.04%, 85.00% 49.35%, 86.67% 49.68%, 88.33% 50.03%, 90.00% 50.37%, 91.67% 50.70%, 93.33% 51.00%, 95.00% 51.26%, 96.67% 51.46%, 98.33% 51.59%, 100.00% 51.66%);
}  